body{
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 100%, rgba(252,70,107,1) 100%);
}


.container{
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
width:350px;
height: 500px;
margin:auto;
display: flex;
flex-flow:column;
justify-content: flex-start;
border-radius:20px;
}

.title{
width: 100%;
height: 30px;
border-bottom: 5px solid black;
text-align:  center;
font-size: 30px;
}
.input{
font-size: 28px;
}
input{
width:50%;
height:30px;
padding: 10px;
margin:20px;
}

#inputPeso{
margin-left: 20px;
font-size: 28px;
}

.result{
width: inherit;
height: 100px;
background: rgba(252,70,107,1); 
margin:auto;
color:black; 
font-size: 20px;
}

#calcular{
height: 40px;
width: 100%;
font-size: 20px;
}